<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test_mercado_libre</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="background">
    <div class="nav-bar">
        <img src="/img/Logo_ML.png" class="logo">
        <form action="/api/items" class="formulario">
        <div class="flexContainer">
            <input type="text" class="inputField" placeholder="Nunca dejes de buscar"  name="search">
            <button type="submit" class="search btn-search"><img src="/img/ic_Search.png" ></button>
        </div>
        </form>
    </div>

    {{{body}}}
       
</body>
</html>

